.SearchResults {
    display: inline-block;
    width: 500px;
    height: 750px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #FFF;
    background: linear-gradient(142deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.30) 100%);
    box-shadow: 0px 4px 40px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    overflow-y: scroll;
    margin-bottom: 5rem;
}

.Results {
    color: #133C7C;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #133C7C;
    text-align: left;
    padding: 1.2rem 0 1rem 2rem;
}
  
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
  
@media only screen and (max-width: 768) {

}