.Track {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #133C7C;
    padding: 0.6rem 0rem;
    margin: 0rem 2rem;
}

.Track-cover {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 7px;
}

.Track-information {
    padding-left: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 72px;
}

.Track-action {
    text-align: right;
    cursor: pointer;
    font-size: 2rem;
    transition: color 0.25s;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: #133C7C;
    font-weight: 300;
    text-align: left;
}

.Track-action:hover {
    color: rgba(265, 265, 265, 0.5);
}

.Track-information h3 {
    text-align: left;
    margin-bottom: 0.1rem;
    color: #133C7C;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    
}

.Track-information p {
    margin-top: 0.1rem;
    text-align: left;
    color: rgba(256, 256, 256, 0.8);
    color: #133C7C;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    padding-top: 2px;
}

@media only screen and (max-width: 700px) {
    .Track-cover {
        width: 60px;
        height: 60px
    }

    .Track-information {
        padding-left: 1.2rem;
    }

    .Track-information h3 {
        font-size: 0.9rem;
    }

    .Track-information p {
        font-size: 0.8rem;
    }
    
    .Track-action {
        font-size: 1.5rem;
        text-align: right;
    }
}

@media only screen and (max-width: 400px) {
    .Track {
        padding: 0.1rem 0rem;
        margin: 0rem 1.5rem;
    }

    .Track-cover {
        width: 40px;
        height: 40px
    }

    .Track-information {
        padding-left: 1rem;
    }

    .Track-information h3 {
        font-size: 0.85rem;
        line-height: 1rem;
    }

    .Track-information p {
        font-size: 0.8rem;
    }

    .Track-action {
        font-size: 1.5rem;
        text-align: right;
    }
}