html {
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-playlist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0rem 2rem;
  align-items: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
  height: 5.3rem;
  padding: 0 10.2rem;
}

.Spotify {
  margin-top: 2.5rem;
  display: flex;
  text-align: right;
}

.Spotify div {
  color: #FFF;
  font-family: Poppins;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 0.4rem;
  margin-top: 0.1rem;
  white-space: nowrap
}

.Spotify img {
  height: 1.9rem;
  flex-shrink: 0;
}

.App-link {
  color: #61dafb;
}

body {
  background-image: url('/public/background_photo.png');
  background-size: cover;
  background-attachment: fixed;

}

.App-logo {
  text-align: left;
  color: #FFF;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 2rem;
}

.highlight {
  color: #133C7C;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Footer {
  color: #133C7C;
  text-align: center;
  font-family: Poppins;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 2rem;
}


@media only screen and (max-width: 1150px) {
  .App-playlist {
    flex-direction: column;
    align-items: center;
    margin: 2rem 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .App-header {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .App-playlist {
    flex-direction: column;
    align-items: center;
  }

  .App-logo {
    align-items: center;
    padding: 0 0;
  }

  .Spotify {
    align-items: center;
    padding: 0 0;
    margin-top: 0.8rem;
  }

  .Spotify div {
    font-size: 0.9rem;
  }

  .Spotify img {
    height: 1.5rem;
  }

  .App-playlist {
    flex-direction: column;
    align-items: center;
    margin: 2rem 3rem;
  }

}


